@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

//Colors

$pink: hsl(322, 100%, 66%);

$pale-cyan: hsl(193, 100%, 96%);
$dark-cyan: hsl(192, 100%, 9%);
$gray-blue: hsl(208, 11%, 55%);

//Fonts

$header-font: 'Poppins', sans-serif;
$regular-font: 'Open Sans', sans-serif;

* {
    box-sizing: content-box;
}

body {
    font-size: 18px;
    font-family: $regular-font;
    margin: 0;
    padding: 0;
}

h1, h4 {
    font-family: $header-font;
}

section {
    width: 100%;
}

section:first-of-type {
    background-image: url('../images/bg-hero-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $pale-cyan;
}

.header {
    padding: 1.5em;
    height: 2em;
    position: relative;

    svg {
        scale: 0.5;
        position: absolute;
        left: -2em;
    }

    button {
        position: absolute;
        right: 2em;

        font-family: $regular-font;
        font-weight: 700;

        border: none;
        background-color: white;
        border-radius: 20px;
        width: 8em;
        height: 35%;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
    }
}

.hero {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    * {
        margin-bottom: 1em;
    }

    h1, span {
        text-align: center;
    }

    button {
        width: 80%;
        border: none;
        border-radius: 20px;
        background-color: $pink;
        color: white;
        margin-bottom: 4em;

        font-family: $regular-font;
        font-weight: 700;
        height: 3em;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
    }

    img {
        width: 100%;
    }
}

section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.card {
    width: 70%;
    margin-top: 2em;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.15);
    border-radius: 15px;
    padding: 2em;
    display: grid;
    align-content: center;
    justify-items: center;

    * {
        margin-top: 10px;
    }

    h4 {
        margin-bottom: 5px;
    }

    h4, span {
        width: 100%;
        text-align: center;
    }

    span {
        font-size: 14px;
        line-height: 1.5em;
        color: $gray-blue;
    }

    img {
        margin-bottom: 2em;
        width: 100%;
    }
}

section:nth-of-type(3) {
    height: 7em;
    padding: 1em;
    padding-top: 2em;
    width: 85%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 2;
    
    border-radius: 20px;
    transform: translateY(70px);

    background-color: white;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.12);

    button {
        padding: 1em;
        width: 65%;
        border: none;
        border-radius: 30px;
        background-color: $pink;
        color: white;
        margin-bottom: 4em;

        font-family: $regular-font;
        font-weight: 700;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
    }
}

footer {
    background-color: $dark-cyan;
    color: $pale-cyan;
    padding: 0 1em;
    padding-top: 10em;
    height: fit-content;
    position: relative;

    display: flex;
    flex-direction: column;

    .location,
    .phone,
    .email {
        display: grid;
        grid-template-columns: 10% 90%;
        align-content: flex-end;

        margin-top: 1em;

        img {
            margin-top: 0.4em;
        }
    }

    svg {
        position: absolute;
        left: -20px;
        top: 120px;

        color: white;
        margin-bottom: 1em;
        scale: 0.7;
    }

    ul {
        list-style: none;
        padding: 0;
        margin-top: 4em;

        li {
            margin-bottom: 1em;
        }
    }

    .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        
        .icons {
            margin-right: 1.5em;
            width: 35px;
            height: 35px;
            border: 1px solid $pale-cyan;
            border-radius: 50%;
            
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &>span {
        margin-top: 2em;
        font-size: 0.7em;
        text-align: center;
    }
}

.attribution {
    font-size : 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}