@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1,
h4 {
  font-family: "Poppins", sans-serif;
}

section,
footer {
  padding: 0 2.5em;
}

@media only screen and (min-width: 768px) {
  section,
  footer {
    padding: 0 4em;
  }
}

section:first-of-type {
  padding-top: 3em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-image: url("../images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ebfbff;
}

@media only screen and (min-width: 768px) {
  section:first-of-type {
    min-height: 100vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-image: url("../images/bg-hero-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.header {
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  background-image: url("../images/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 60%;
  float: left;
}

.header button {
  float: right;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  border: none;
  background-color: white;
  border-radius: 200px;
  width: 40%;
  height: 100%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 768px) {
  .header .logo {
    width: 100%;
    height: 100%;
  }
  .header button {
    width: 12%;
  }
}

.hero {
  margin-top: 2em;
  height: 100%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hero * {
  margin-bottom: 1em;
}

.hero h1,
.hero span {
  text-align: center;
}

.hero button {
  width: 80%;
  border: none;
  border-radius: 500px;
  background-color: #ff52bf;
  color: white;
  margin-bottom: 4em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  height: 3em;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hero img {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .hero {
    margin-top: 3em;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 2fr 1fr 2fr;
        grid-template-rows: 2fr 1fr 2fr;
        grid-template-areas: "header image" "para image" "button image";
  }
  .hero h1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    text-align: left;
    -ms-grid-column-align: left;
        justify-self: left;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    width: 60%;
  }
  .hero span {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: para;
    text-align: left;
    -ms-grid-column-align: left;
        justify-self: left;
    width: 85%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .hero button {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: button;
    -ms-grid-column-align: left;
        justify-self: left;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    width: 40%;
    height: 3.5em;
  }
  .hero img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    grid-area: image;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

section:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
}

.card {
  width: 90%;
  margin-top: 2em;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2em;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
}

.card * {
  margin-top: 10px;
}

.card h4 {
  margin-bottom: 5px;
}

.card h4,
.card span {
  width: 100%;
  text-align: center;
}

.card span {
  font-size: 14px;
  line-height: 1.5em;
  color: #808d99;
}

.card img {
  margin-bottom: 2em;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .card {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 45% 55%;
        grid-template-rows: 45% 55%;
        grid-template-areas: "image title" "image subtitle";
    width: 90%;
    height: 20em;
    padding-left: 2em;
  }
  .card img {
    -ms-grid-column-align: center;
        justify-self: center;
    margin-left: 2em;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: image;
    height: 100%;
    width: auto;
  }
  .card h4 {
    text-align: left;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: title;
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding-left: 4.5em;
  }
  .card span {
    text-align: left;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: subtitle;
    justify-self: flex-start;
    width: 80%;
    padding-left: 3em;
  }
}

@media only screen and (min-width: 768px) {
  .card:nth-of-type(odd) {
        grid-template-areas: "title image" "subtitle image";
  }
}

section:nth-of-type(3) {
  height: 7em;
  padding: 1em;
  padding-top: 2em;
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  border-radius: 10px;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
  background-color: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
}

section:nth-of-type(3) button {
  padding: 1em;
  width: 65%;
  border: none;
  border-radius: 30px;
  background-color: #ff52bf;
  color: white;
  margin-bottom: 4em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 768px) {
  section:nth-of-type(3) {
    width: 40%;
  }
  section:nth-of-type(3) button {
    width: 40%;
  }
}

footer {
  background-color: #00252e;
  color: #ebfbff;
  padding: 0 1em;
  padding-top: 10em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  display: -ms-grid;
  display: grid;
}

footer .location,
footer .phone,
footer .email {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 90%;
      grid-template-columns: 10% 90%;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  justify-items: left;
  margin-top: 1em;
}

footer .location img,
footer .phone img,
footer .email img {
  margin-top: 0.4em;
}

footer .logo {
  background-image: url("../images/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 60%;
  mix-blend-mode: screen;
}

footer ul {
  list-style: none;
  padding: 0;
  margin-top: 4em;
}

footer ul li {
  margin-bottom: 1em;
}

footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social-icons .icons {
  margin-right: 1.5em;
  width: 35px;
  height: 35px;
  border: 1px solid #ebfbff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer > span {
  margin-top: 2em;
  font-size: 0.7em;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  footer {
    padding-left: 3em;
    padding-right: 3em;
    -ms-grid-columns: 1fr 1fr 20%;
        grid-template-columns: 1fr 1fr 20%;
    -ms-grid-rows: 1fr 2fr 1fr 2fr;
        grid-template-rows: 1fr 2fr 1fr 2fr;
        grid-template-areas: "logo logo logo" "contact1 links social1" "contact2 links social2" "contact3 links social3";
  }
  footer .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: logo;
  }
  footer .location {
    width: 80%;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: contact1;
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  footer .phone {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: contact2;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  footer .email {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: contact3;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  footer ul {
    -webkit-transform: translateY(-55px);
            transform: translateY(-55px);
    height: 50%;
    width: 80%;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    grid-area: links;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  footer .social-icons {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: social1;
  }
  footer > span {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    grid-area: social3;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .attribution {
    position: absolute;
    left: 5%;
    bottom: 0;
  }
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */